$darkest: hsl(207, 18%, 10%);
$darker: hsl(207, 18%, 25%);
$dark: #636f7e;
$light: #d8dfe4;
$lighter: #f3fafa;
$highlight: #98c1d9;
// $darkest: #f3fafa;
// $darker: #d8dfe4;
// $dark: #636f7e;
// $light: hsl(207, 18%, 22%);
// $lighter: hsl(207, 18%, 5%);
// $highlight: #98c1d9;

body {
  @font-face {
    font-family: nunito;
    src: url(../media/Nunito-VariableFont_wght.ttf);
  }
  font-family: nunito;
  margin: 0px;
  font-weight: 400;
  background: linear-gradient(
    135deg,
    hsl(207, 18%, 10%),
    hsl(207, 18%, 9%),
    hsl(207, 17%, 8%),
    hsl(207, 18%, 9%)
  );
  color: $light;
  a {
    color: $lighter;
  }
}
